{{- $tags := .Site.Taxonomies.tags }}
{{- if gt (len $tags) 0 }}
<div class="widget-taglist widget">
	<h4 class="widget__title">{{ T "tags_title" }}</h4>
	<div class="widget__content">
	{{- range first 20 $tags.ByCount }}
		<a class="widget-taglist__link widget__link btn" href="{{ .Page.RelPermalink }}" title="{{ .Page.Title }}">
			{{- .Page.Title -}}{{- if $.Site.Params.widgets.tags_counter }} ({{ .Count }}){{ end -}}
		</a>
	{{- end }}
	{{- if gt (len $tags) 20 }}
		<a class="widget-taglist__link widget__link btn widget-taglist__link--all" href="{{ "/tags/" | relLangURL }}">View all tags →</a>
	{{- end }}
	</div>
</div>
{{- end }}
